*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}   
header{
    box-sizing:border-box
}
h1{
        margin: auto;
        width: 80%;
        border: 3px ;
        margin-right: -359px;
        margin-top: 42px;
}
.burger div{
    width: 36.5rem;
    height: 11rem;
    margin: 20px;
    background-color: aqua;
    cursor: pointer;
    border-radius: 46px;
    margin-left:5%;
    display: inline-block
}
.burger2 div{
    width: 36.5rem;
    height: 11rem;
    margin: 20px;
    background-color: aqua;
    cursor: pointer;
    border-radius: 46px;
    margin-left:7%;
    display: inline-block

}
.h1{
        margin: auto;
        width: 80%;
        border: 3px ;
        margin-right: -359px;
        margin-top: 42px;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    min-height: 20vh;
    width: 147%;
    margin:-3px;
}
.logo{
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    filter: brightness(100%);
    margin:-7px;
}
.navlinks{
    display: flex;
    width: 94%;
    justify-content: space-around;
    color: aliceblue;
    margin-left: 3%;
}
.greybox{
    width: 35rem; 
    height:14rem; 
    background-color: gray;
    margin-left: 6%;
    border-radius: 42px;
    margin-top: 3%;
}
.navlinks a{
    text-decoration:none;
    letter-spacing: 3px;
    font-size: 47px;
    font-weight: bold
    color=white;
    word-spacing: 10px;
    }

.navlinks li {
    list-style:none;
    word-spacing: 10px;
    font-size: 40px;
}
ul a{
    color: rgb(255, 255, 255);
}
.four:hover {
    font-size: 40px;
    text-decoration: underline;
}
img {
	max-height:47rem; 
    max-width:35rem;
    border: 2px solid #aaa
    }
.box{
    border: 5px solid blue;
    width: 390px;
    height: 300px;
    background-color: red;
}
.menbox {
        width: 1357px;
        height: 954px;
        background-color: blue;
        margin-left: -66%;
        margin-top: -1%;
}
.womenbox {
    width: 1357px;
    height: 954px;
    background-color: #e8175d;
    margin-left: -66%;
    margin-top: 6%;
}
.inline{
    display: inline;
}
@media screen and (max-width:1024px) {
    .nav-links{
        display:flex;
        width:60%;
        justify-content: space-around;
    }
    .center{
        margin: auto;
        width: 80%;
        border: 3px ;
        margin-right: 11px;
        margin-top: 42px;
}
}
@media only screen and (max-width : 784px){
    body{
        overflow-x: hdden;
    }
    .navlinks{
        position:absolute;
        right:0px;
        height: 92vh;
        top: 8vh;
        background-color:rgb(0, 0, 0);
        display: flex;
        flex-direction:column;
        align-items: center;
        width:37%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
}
}
.nav-links li{
    opacity: 0;
}
.burger{
    display: block;
}
.nav-active{
    transform: translatex(0%);
}
@keyframes navlinkfade{
    from{
        opacity: 0;
        transform:translate(50px)
    }
    to{
        opacity: 1;
        transform:translate(0px)
    }
}