*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}
header{
    box-sizing:border-box
}
h1{
        margin: auto;
        width: 80%;
        border: 3px ;
        margin-right: -359px;
        margin-top: 42px;
}
.h1{
        margin: auto;
        width: 80%;
        border: 3px ;
        margin-right: -359px;
        margin-top: 42px;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    min-height: 20vh;
    width: 147%;
    margin:-3px;
}
.logo{
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    filter: brightness(100%);
    margin:-7px;
}
.navlinks{
    display: flex;
    width: 94%;
    justify-content: space-around;
    color: aliceblue;
    margin-left: 3%;

}
.navlinks a{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 47px;
    font-weight: bold
    color=white;
    word-spacing: 10px;}

.navlinks li {
    list-style:none;
    word-spacing: 10px;
    font-size: 40px;
}
.burger div{
width:25px;
height:3px;
margin: 5px;
background-color: aliceblue;
cursor:pointer;
}
ul a{
    color: rgb(255, 255, 255);
}
.four {
    font-size: 40px;
}
.box{
    border: 5px solid blue;
    width: 390px;
    height: 300px;
    background-color: red;
}
.redbox{
    margin-left: -30px; 
    font-size: 538px;
    color: white;
    list-style: none;
    text-decoration: none;
    LETTER-SPACING: -10PX;
}
.bluebox{
    margin-left: -40px; 
    font-size: 545px;
    color: white;
    list-style: none;
    text-decoration: none;
    LETTER-SPACING: -19PX;
}
.menbox {
        width: 1357px;
        height: 954px;
        background-color: blue;
        margin-left: -66%;
        margin-top: -92%;
        font-size:507px;
        text-align:center;
        font-size: 483px;
        margin-top: 5%;
        padding-top: 79px;
        -webkit-text-stroke-: 2px solid #0000;
        border-radius: 150px;
}
.womenbox {
    width: 1357px;
    height: 954px;
    background-color: #e8175d;
    margin-left: -66%;
    margin-top: 6%;
    text-align:center;
    font-size: 483px;
    margin-top: 7%;
    padding-top: 100px;
    padding-left: -40px;
    padding-top: 114px;
    -webkit-text-stroke: 2px;
    border-radius: 150px;
}
.inline{
    display: inline;
}
@media screen and (max-width:1024px) {
    .nav-links{
        display:flex;
        width:60%;
        justify-content: space-around;
    }
    .center{
        margin: auto;
        width: 80%;
        border: 3px ;
        margin-right: 11px;
        margin-top: 42px;
}
}
@media only screen and (max-width : 784px){
    body{
        overflow-x: hdden;
    }
    .navlinks{
        position:absolute;
        right:0px;
        height: 92vh;
        top: 8vh;
        background-color:rgb(0, 0, 0);
        display: flex;
        flex-direction:column;
        align-items: center;
        width:37%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
}
}
.nav-links li{
    opacity: 0;
}
.burger{
    display: block;
}
.nav-active{
    transform: translatex(0%);
}
@keyframes navlinkfade{
    from{
        opacity: 0;
        transform:translate(50px)
    }
    to{
        opacity: 1;
        transform:translate(0px)
    }
}